{% extends "templateAPI/FrontPage.html.twig" %}

{% block body %}

    {% block titre %}
    <h1 class="text-center">{{ vetement.nom }}</h1>
    {% endblock %}

    {% block content %}
    <div class="text-center content">
    {{ color.ColorName }}
    </div>
    {% endblock %}

    {% block footer %}
    {% set vetHome = path('vetHome', {'token':'1'}) %}
    <div class="row">
        <button onclick="window.location.pathname = '{{ vetHome }}'" type="button" class="btn-margin btn btn-outline-success">
            Home
        </button>
    </div>

    {% set vetDel = path('vetDel', {'token':'1','vetId':vetement.id,'vetColorId':color.id}) %}
    <div class="row">
        <button onclick="window.location.pathname = '{{ vetDel }}'" type="button" class="btn-margin btn btn-outline-danger">
            Suppression
        </button>
    </div>
    {% endblock %}
{% endblock %}
