{# Ce fichier est un template #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        	{% block title %}
        		
    		{% endblock %}
		</title>
        {% block stylesheets %}
        	<link rel="stylesheet" type="text/css" href="{{ asset('Style/bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('Style/app.css') }}" />
        {% endblock %}
    </head>
    <body class="container">
      {% block body %}
            <header>
                {% block header %}
                    {% block titre %}

                    {% endblock %}
                    
                {% endblock %}
            </header>
            <div class="content">
                {% block content %}
                

                {% endblock %}
            </div>
     
        <div id="footer">
        
            {% block footer %}
            
            {% endblock %}
        
        </div>
        
    {% endblock %}
    
    {% block javascripts %}
    {% endblock %}
    </body>
</html>